<div id="container">    
    <div id="header">
        <h1>FILE CRYPTER</h1>
        <h2>Crossplatform universal tool for encryption and decryption TXT-files</h2>
    </div>
    <div id="body">
        <mat-card>
            <mat-card-content>
                <div id="card-content">
                    <div id="protocol">
                        <mat-form-field>
                            <mat-label>Protocol</mat-label>
                            <mat-select
                                [(ngModel)]="protocol"
                                required>
                                    <mat-option value="gost" (click)="selectGOST()">GOST 28147</mat-option>
                                    <mat-option value="rsa">RSA</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div id="upload-file">
                        <div id="filepath">{{filepath}}</div>
                        <button
                            mat-flat-button
                            [disabled]="uploadFileDisable"
                            (click)="fileInput.click()">
                                Select file
                        </button>
                        <input type="file" accept=".txt" hidden #fileInput (change)="uploadFile($event)">
                    </div>
                    <div>
                        <mat-button-toggle-group
                            hideSingleSelectionIndicator
                            [(ngModel)]="action"
                            [disabled]="buttonsGroupDisable"
                            (click)="doAction()">
                                <mat-button-toggle value="encryption">Encryption</mat-button-toggle>
                                <mat-button-toggle value="decryption">Decription</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div>
                        <button
                            mat-flat-button
                            [disabled]="upladFileDisable"
                            (click)="fileDownload.click()">
                                Upload result file
                        </button>
                        <a [href]="resultFileURL" [download]="filenameDownload" hidden #fileDownload></a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
